html{
	-webkit-text-size-adjust: 100%;
	width:100%;
	padding:0;
	margin:0;
}

body{
  margin: 0;
  }

#alerte{
	background-color:white;
	height:5%;
	font-size:0px;
}

#pub{

color:red;
font-size:10px;
border:2px solid red;
background-image:

    height: 100px;       /* Just for the demo          */
    overflow-y: auto;    /* Trigger vertical scroll    */
    overflow-x: auto;  /* Hide the horizontal scroll */
}

#abs{

}

#activite{
}

#photo{
}

tbody {

}

#meteo{
	width: 33%;
	height:45%;
	background-color:white;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
	height:100%;
    border: 1px solid #ddd;
	text-align:center;
	font-size:50px;
}

input[type="text"] {

  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 0%;
  font-family: sans-serif;
  font-size: 60px;
  appearance: none;
  box-shadow: none;
  
   
}

input[type="text"]:focus {
  outline: none;
}